# Core Data & ML Libraries
pandas
pandas-ta
xgboost==1.7.6
scikit-learn==1.3.2
numpy==1.23.5

# The new Forex Bridge
MetaTrader5

# Utilities
pytz
requests

# Notebooks
notebook
matplotlib
seaborn

# Telegram Bot
python-telegram-bot==13.15